.pt-120{
	padding-top: 120px;
}
.pt-22{
	padding-top: 22px;
}
.pt-70{
	padding-top: 70px;
}
.mt-25{
	margin-top: 25px;
}
.mt-130{
	margin-top: 130px;
}
.mb-130{
	margin-bottom: 130px;
}
.mr-250{
	margin-right: 250px;
}
